.mask
  .wrapper
    .prompt
      .player1Prompt
      .player2Prompt
    .outer-container
      .board-container
        .gameMode Select Opponent
          .options
            .human.mode Human
            .ai.mode AI
        .symbol-selection Would you like to be..
          .options
            .symbol-x.symbol X
            .symbol-o.symbol O
          .go-back
            .tri
        .box-container
      .winDrawMessage
    .score-panel
      .scores
        .player-1
          .label Player1
          .score-1 0
        .player-2
          .label Player2
          .score-2 0
        .resetAll Reset
